<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SecondLiaoTianP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7350B7581EAF30000096C11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7350B7741EAF30010096C11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7350B77F1EAF30010096C11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
